.blog-posts-container {

}

pre.wp-block-code {
    overflow-x: scroll;
    background-color: #0000003b;
    padding: 20px;
}

code {
    color: #85cd9e;
}

.-dark-mode {
    pre.wp-block-code {
        background-color: #00000017;
    }

    code {
        color: #000;
    }
}
