.hero-img-container {
  display: grid;
  width: 40%;

  & > * {
    grid-area: 1 / 1;
  }

  svg {
    height: auto;
  }

  @media screen and (max-width: 900px) {
    img {
      width: 100%;
      max-width: 14em;
    }
    svg {
      width: 100%;
      max-width: 14rem;
    }
  }
}

body:not(.-dark-mode) {
  .hero-img-container {
    svg {
      display: none;
    }
    img {
      display: block;
    }
  }
}

.-dark-mode {
  .hero-img-container {
    img {
      display: none;
    }
    svg {
      display: block;
    }
  }
}

