.main-nav {
  margin: 14rem 0 5rem;
  ul {
    display: flex;
    padding: 0;

    li {
      margin-right: 2rem;
    }

    a {
      text-decoration: none;
    }
    .active {
      color: var(--textColorSecondary);
    }
  }
}
