@media (prefers-color-scheme: dark) {
  :root {
    --bgColorPrimary: #f6f6fa;
    --bgColorSecondary: #d195e5;
    --bgColorAccent: #63a183;
    --textColorPrimary: #252323;
    --textColorSecondary: #a252b7;
    --textColorAccent: #29543c;
  }
}

body.-dark-mode {
  --bgColorPrimary: #f6f6fa !important;
  --bgColorSecondary: #d195e5 !important;
  --bgColorAccent: #80d5ac !important;
  --textColorPrimary: #252323 !important;
  --textColorSecondary: #a252b7 !important;
  --textColorAccent: #29543c !important;
}
