@media (prefers-color-scheme: dark) {
  :root {
    --bgColorPrimary: #f6f6fa;
    --bgColorSecondary: #d195e5;
    --bgColorAccent: #80d5ac;
    --textColorPrimary: #252323;
    --textColorSecondary: #a252b7;
    --textColorAccent: #29543c;
  }
}

.-dark-mode {
  --bgColorPrimary: #f6f6fa;
  --bgColorSecondary: #d195e5;
  --bgColorAccent: #80d5ac;
  --textColorPrimary: #252323;
  --textColorSecondary: #a252b7;
  --textColorAccent: #29543c;
}
