.flex-layout {
    display: flex;
    flex-direction: column;
  margin-top: 5rem;

  aside {
    margin-top: 3rem;
}


  @media screen and (min-width: 900px) {
    flex-direction: row;

    main {
      flex-basis: 50%;
      max-width: 50%;
      padding-right: 5rem;
    }
    aside {
      flex-basis: 50%;
      margin-top: 0;
      margin-bottom: auto;
      position: sticky;
      top: 30px;
      gap:30px;
    }
  }

  @media screen and (min-width: 1500px) {

    aside {
      display: flex;
        flex-direction: row;

      .section {
        flex-basis: 50%;
      }
    }
  }
}

.margin-bottom {
  margin-bottom: 6rem;
}
