.footer-content {
    display: flex;
    justify-content: space-between;

    p {
        margin-bottom: 0;
    }

    .footer-links ul {
        flex-wrap: wrap;
        margin-top: 0;
        a {
            color: var(--bgColorPrimary);
        }
    }

    @media screen and (min-width: 800px) {
        .footer-links ul {
            display: flex;
            li {
                margin-right: 2rem;
            }
        }
    }
}