header {
  @media screen and (min-width: 900px) {
    display: flex;
    justify-content: space-between;
    align-items: end;

    .hero-img {
      width: 14rem;
    }
  }
}
svg rect {
  fill: white;
  mask:url(#mask);
}

.header-main {
  display: flex;
  align-items: flex-end;
}