body {
  font-family: var(--font-family-body);
}

h1,
h2,
h3,
h4,
h5  {
  font-family: var(--font-family-heading);
}

h1 {
  font-size: var(--font-size-xxxl);
}
h2 {
  font-size: var(--font-size-xxl);
}
