body {
  font-family: var(--font-family-body);
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5  {
  font-family: var(--font-family-heading);
  font-weight: 400;
  margin-bottom: 0.5em;
  line-height: 1.1;
}

h1, .h1 {
  font-size: var(--font-size-xxxl);
  text-wrap: balance;

}
h2, .h2 {
  font-size: var(--font-size-xxl);
  text-wrap: balance;
}

h3, .h3 {
  font-size: var(--font-size-xl);
}

h4, .h4 {
  font-size: var(--font-size-lg);
}

p:not(:last-child) {
  margin-bottom: 2em;
}

em {
  font-weight: 600;
  color: var(--textColorAccent);
}

.wysiwyg {
  a {
    color: var(--textColorSecondary)
  }
}
