@import 'reset.scss';
@import 'variables.scss';
@import 'dark-mode.scss';
@import 'buttons.scss';
@import 'links.scss';
@import 'grid-layout.scss';
@import 'flex-layout.scss';
@import 'typography.scss';

@import 'components/_social.scss';
@import 'components/_footer.scss';
@import 'components/_blog-posts-container.scss';

body {
  color: var(--textColorPrimary);
  background-color: var(--bgColorPrimary);
}

.loader {
  width: 40px;
  height: 40px;
}